In [115]:
#1 Declare an empty list

emp_lst = []
print(emp_lst)

[]

In [116]:
#2 Declare a list with more than 5 items
#3 Find the length of your list
#4 Get the first item, the middle item and the last item of the list

lst = ['A', 'B', 'C', 'D', 'F']

print(len(lst))
print(lst[0])
print(lst[2])
print(lst[-1])
print(lst[::2])

5
A
C
F
['A', 'C', 'F']

In [117]:
#5 Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Name', '30', '160m', 'single', '4560 mission gorge']

print(mixed_data_types)

['Name', '30', '160m', 'single', '4560 mission gorge']

In [118]:
#6 Declare a list variable named it_companies

companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [119]:
#7 Print the list using print()
#8 Print the number of companies in the list
#9 Print the first, middle and last company
#10 Print the list after modifying one of the companies

print(companies)
print(len(companies))
print(companies[::3])

companies[2] = 'Ali'
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
['Facebook', 'Apple', 'Amazon']
['Facebook', 'Google', 'Ali', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [120]:
#11 Add an IT company to it_companies

companies.extend(['Baidu'])
print(companies)

['Facebook', 'Google', 'Ali', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Baidu']

In [121]:
#12 Insert an IT company in the middle of the companies list

companies.insert(3,'X')
print(companies)

['Facebook', 'Google', 'Ali', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Baidu']

In [122]:
#13 Change one of the it_companies names to uppercase (IBM excluded!)

companies[2] = companies[2].upper()
print(companies)

['Facebook', 'Google', 'ALI', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Baidu']

In [123]:
#14 Join the it_companies with a string '#;  '

companies.extend(['#;  '])

print(companies)

['Facebook', 'Google', 'ALI', 'X', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Baidu', '#;  ']

In [124]:
#15 Check if a certain company exists in the it_companies list.

does_exist = 'X' in companies

print(does_exist)

True

In [125]:
#16 Sort the list using sort() method

companies.sort()
print(companies)

['#;  ', 'ALI', 'Amazon', 'Apple', 'Baidu', 'Facebook', 'Google', 'IBM', 'Oracle', 'X']

In [126]:
#17 Reverse the list in descending order using reverse() method

companies.sort(reverse=True)
print(companies)

['X', 'Oracle', 'IBM', 'Google', 'Facebook', 'Baidu', 'Apple', 'Amazon', 'ALI', '#;  ']

In [127]:
#18 Slice out the first 3 companies from the list

del companies[0:2]
print(companies)

['IBM', 'Google', 'Facebook', 'Baidu', 'Apple', 'Amazon', 'ALI', '#;  ']

In [128]:
#19 Slice out the last 3 companies from the list

del companies[-3:]
print (companies)

['IBM', 'Google', 'Facebook', 'Baidu', 'Apple']

In [129]:
#20 Slice out the middle IT company or companies from the list

companies.remove('Facebook')

print(companies)

['IBM', 'Google', 'Baidu', 'Apple']

In [130]:
#21 Remove the first IT company from the list

companies.pop(0)
print(companies)

['Google', 'Baidu', 'Apple']

In [131]:
#24 Remove all IT companies from the list

companies.clear()

print(companies)

[]

In [132]:
#25 Destroy the IT companies list

del companies

In [133]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

new_lst = front_end + back_end

print(new_lst)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [134]:
full_stack = new_lst.copy()

In [135]:
full_stack.insert(5,'Python')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']

In [136]:
full_stack.insert(6,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [137]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [138]:
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [139]:
ages.insert(0,19)
ages.insert(9,26)

print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 26, 25, 26]

In [140]:
ages.sort()
print(ages)

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [141]:
n = len(ages)
if n % 2 == 0:
    middle_items = ages[n//2 - 1 : n//2 + 1]
    print("Middle items:", middle_items)
else:
    print("Middle item:", ages[n//2])

Middle items: [24, 24]

In [142]:
middle_index = len(ages) // 2
middle_item = ages[middle_index]
print("Middle item:", middle_item)

Middle item: 24

In [143]:
average_age = sum(ages)/len(ages)
print(average_age)

22.75

In [144]:
range_of_age = max(ages)-min(ages)
print(range_of_age)

7

In [145]:
min_age = min(ages)
max_age = max(ages)

print("abs(min - average):", abs(min_age-average_age))
print("abs(max - average):", abs(max_age-average_age))

abs(min - average): 3.75
abs(max - average): 3.25